VITE_SUPABASE_URL=https://njkoleveinmboqwhcnis.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qa29sZXZlaW5tYm9xd2hjbmlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NjAzNjMsImV4cCI6MjA5NzMzNjM2M30.qDn981MCqOFLeSUMRdVDHguKVMv_mGOxtiBVzUy5p5w
